<div ng-show="site.isSet(2)">

    <h4>
        Please let us know what wine are you trying to find by filling at least one of the inputs below:
    </h4>

    <hr class="horizontalDivider">

    <form name="findInfoForm" role="search"  ng-submit="findInfoForm.$valid && site.findInfo()  ">
        <div class="row">
            <div class="col-sm-7">
                <fieldset class="form-group">
                    <label> Name:
                        <input ng-model="site.find.name" type="text" class="form-control input-text"  title="Name"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Country:
                        <input ng-model="site.find.country" type="text" class="form-control input-text"
                               title="Country"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Region:
                        <input ng-model="site.find.region" type="text" class="form-control input-text" title="Region"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Producer:
                        <input ng-model="site.find.wine_producer" type="text" class="form-control input-text"
                               title="Producer"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Vineyard:
                        <input ng-model="site.find.vineyard" type="text" class="form-control input-text"
                               title="Vineyard"/>
                    </label>
                </fieldset>
            </div>
            <div class="col-sm-5">
                <fieldset class="form-group">
                    <label> Year:
                        <input ng-model="site.find.vintage" type="number" class="form-control input-text" title="Year"
                               min="1900" max="2015"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Alcohol percentage:
                        <input ng-model="site.find.percentage_alcohol" type="number" class="form-control input-text"
                               min="1" max="50" title="AlcoholPercentage"/>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Color:
                        <select class="form-control input-select" ng-model="site.find.color">
                            <option>White Wine</option>
                            <option>Red Wine</option>
                            <option>Rose Wine</option>
                        </select>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Wine type:
                        <select class="form-control input-select" ng-model="site.find.wine_type">
                            <option>Dessert wine</option>
                            <option>Red Wine</option>
                            <option>Sparkling wine</option>
                            <option>Ice wine</option>
                            <option>Straw wine</option>
                            <option>Still Wine</option>
                            <option>Resinated wine</option>
                            <option>Fortified wine</option>
                        </select>
                    </label>
                </fieldset>
                <fieldset class="form-group">
                    <label> Fruit source:
                        <select class="form-control input-select" ng-model="site.find.fruit_source">
                            <option>Producer owned</option>
                            <option>Purchased Juice</option>
                            <option>Purchased Grapes</option>
                        </select>
                    </label>
                </fieldset>
            </div>
            <div class="col-sm-12 pull-left">
                <input type="submit" class="btn btn-primary pull-left" value="Submit constraints for search"/>
            </div>
        </div>
    </form>


</div>
