.sidebar {
    float:left;
    width:15%;
}

.contentCentered {
    float: right;
    margin:0 auto;
    width:80%;
}

ul
{
    list-style-type: none;
}

.horizontalDivider {
    display: block;
    position: relative;
    padding: 0;
    margin: 15px 0px 15px 0px;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #dddddd;
}

.recommendation{
    color: #95a801;
    font-weight: bold;
    font-style: italic;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

#wineDetails {
    top:15%;
    right:25%;
    left:30%;
    bottom:18%;
    outline: none;
    border-color: #ffc555 !important;
    box-shadow: 0 0 30px black;
}

.detailsImage {
    float: left;
    margin-right: 20px;
    zoom:1;
    -moz-transform:scale(1);
    -moz-transform-origin: 0 0;
}

.wines-modal-header{
    background-color: #ffc000 !important;
    color: #000 !important;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

.search-text{
    min-width: 410px;
}

body{
    padding-top: 70px;
}

.input-text {
    min-width:430px;
}

.input-select {
    min-width:430px;
}

.jumbotron{
    padding: 30px !important;
}

.header{
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.header-content{
    max-width: 1000px;
    padding: 0;
    float: none;
}

.logo{
    display:block;
    margin:0 auto;
    padding-top: 5px;
}

.top-search-form{
    margin: 0;
    padding: 0;
}

.find-info{
    width: auto;
    height: 655px;
    background-image: url("resources/Img_Header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 80px center;
}

.find-info-content{
    max-width: 1000px;
    margin: 0 auto;
    float: none;
}

.find-info-content-message{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    color: #FFF;
    padding: 20px;
    width: 100%;
}

.label-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffc000;
}

.input-text{
    min-width: 430px;
}

.find-info-btn{
    height: 55px;
    width: 350px;
    background-color: #ffc000;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 22px;
    color: #000;
    font-style: italic;
    margin: 30px;
}



.search-results{
    width: auto;
}

.search-results-content{
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    padding: 0px;
}

.search-results-content-message{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    color: #000;
    padding: 20px 0;
    width: 100%;
}

.search-results-div{
    padding: 0px;
}

.search-results-div-img{
    padding-bottom: 10px;
}

.go-details{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.thumbnail {
    padding-top: 20px;
    min-height: 240px;
}

.thumbnail-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.search-results-details{
    padding-bottom: 20px;
}

.modal-backdrop {
    background-color: #f00;
}